@model IEnumerable<CategoryModel>
<div class="row">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul id="categoryList" class="navbar-nav flex-grow-1">
                <li class="nav-item border-right"><a href="#" class="nav-link text-dark">Intro Page</a></li>
                <li class="divider"></li>

                @foreach (var c in Model)
                {
                    <li class="nav-item" data-id="@c.Id" data-quote="@c.Quote"><a href="#" class="nav-link text-dark">@c.Title</a></li>
                }
            </ul>
        </div>
    </nav>
</div>