<div class="col-lg-2 pr-lg-0 pl-0 border-right">
    <div class="text-center">
        <a id="addCompetencyLink"
           href="javascript:void(0);"
           type="button" style="font-size:smaller; width:96% !important;"
           class="d-block border shadow py-2 mb-2 text-center mx-auto text-decoration-none">+ New Core Competency</a>
    </div>
    <ul id="competencyList" class="list-group list-group-flush small"></ul>
</div>