@model SkillsAssessment.Models.AssessmentModel

<partial name="AssessmentStyles" />
<partial name="modal" />

<div class="row">
    <div class="col-lg-12 text-center h2">@Model.Title</div>
</div>

<partial name="CategoryHeaderPartial" for="Categories" />

<div class="row">
    <partial name="CompetencySidebarPartial" />

    <div class="col-lg-10 border">
        <div class="row my-lg-3">
            <div class="col text-center"><span id="categoryHeading">Leadership</span> / <span id="competencyHeading">Impact</span></div>
        </div>

        <div class="row my-lg-3">
            <div class="col-lg-12">
                <label for="skillQuestion">Question</label>
                <input type="text" class="form-control" id="skillQuestion">
            </div>
        </div>

        <div class="row my-lg-3">
            <div class="col">Skills</div>
        </div>

        <div class="row card border-left-0 border-right-0 border-dark">
            <div class="col p-lg-0">
                <ul id="skillList" class="list-group-flush p-lg-0"></ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="AssessmentScripts" for="@Model" />
}